name: Release Drafter

on:
  push:
    branches:
      - main
      - master
  pull_request:
    types: [closed]

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    if: ${{ github.repository_owner == 'AOSSIE-Org' }}
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
          disable-autolabeler: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
